/* app.component.css */

h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
  form {
    display: grid;
    gap: 10px;
    max-width: 400px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea,
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  